body {
    font-family: 'Roboto', sans-serif;
    float: none;
    padding: 10px 30px 10px 30px;  
    background-color: #eceef1;
}

.side-nav {

}

.intuit-logo {
    padding: 20px;
    width: 800px
}